.add-list {
  @include clearlist;
}

.add-list__item {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 18px;
  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .add-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .add-list__item {
    width: 283px;
    &:first-child {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 1300px) {
  .add-list {
    flex-wrap: nowrap;
  }

  .add-list__item {
    width: 245px;
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-bottom: 32px;
    }
  }
}
