.contacts {
  position: relative;
}

.contacts__wrap {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black-title;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: arial;
  color: $grey-text;
}

.contacts__map {
  width: 100%;
  height:382px;

  border: 0;
}

.contacts__map-nojs {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@media (min-width: 768px) {
  .contacts__wrap {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    margin-right: 300px;
    margin-left: 41px;
  }
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-right: 42px; /* не понимаю как сделать пустую строку перед Санкт-Петербург*/
  }
  .contacts__map-nojs {
    width: 767px;
  }
}
