.contacts-list {
  @include clearlist;
}

.contacts-list__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .contacts-list__item {
    margin-bottom: 20px;
  }
}

@media (min-width: 1300px) {
  .contacts-list {
    display: flex;
  }

  .contacts-list__item {
    width: 50%;

    &:first-child {
      margin-right: 78px;
    }
  }
}
