.contacts-list {
  @include clearlist;
}

.contacts-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &:last-child input {
    margin-bottom: 0;
  }
}

@media (min-width: 1300px) {
  .contacts-list {
    display: flex;
  }

  .contacts-list__item {
    width: 50%;
    &:first-child {
      margin-right: 78px;
    }
  }
}
