.contacts {
  position: relative;
}

.contacts__wrap {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  &--grey {
    background-color: $grey;
  }
}

.contacts__text {
  display: flex;
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black-title;
  text-transform: uppercase;
  margin-right: 19px;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: arial;
  color: $grey-text;
}

.contacts__map {
  width: 100%;
  height:382px;

  border: 0;
}

.contacts__map-nojs {
  height: 400px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@media (min-width: 768px) {
  .contacts__wrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    margin-right: 300px;
    margin-left: 41px;
  }
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-right: 42px; /* не понимаю как сделать пустую строку перед Санкт-Петербург*/
  }
  .contacts__map-nojs {
    width: 767px;/*это вообще надо?*/
  }
}

@media (min-width: 1300px) {
  .contacts__wrap {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
  }

  .contacts__text {
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: $base;
    top: 95px;
    left: 40px;
    justify-content: space-between;
    padding-top: 69px;
    padding-right: 90px;
    padding-bottom: 62px;
    padding-left: 76px;
  }

  .contacts__title {
    margin: 0;
    margin-right: 95px;
  }

  .contacts__address {
    margin: 0;
  }
}
