.contacts__title {
  font-size: 16px;
  font-weight: 400;
  color: $black-title;
}

.contacts__address {
  font-size: 14px;
  font-family: arial;
  color: $grey-text;
}

@media (min-width: 768px) and (max-width: 1300px) {
  .contacts {
    .page {
      display: flex;
      justify-content: space-between;
    }
  }
}
