.example {
  position: relative;
  padding-top: 30px;
  padding-bottom: 38px;
  background-color: $grey;
}

.example__title {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.example__description {
  font-family: arial;
  font-size:14px;
  line-height: 18px;
  color: $grey-text;
  margin-top: 33px;
  margin-bottom: 27px;
  padding-right: 14px;
}

.example__spending {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 7px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__cat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__photo {
  margin-bottom: 30px;
}

.example__condition {
  text-align: center;
}

@media (min-width: 768px) {
  .example {
    background-color: $base;
    padding-top: 42px;
    padding-bottom: 0;
  }

  .example__wrapper {
    .container {
      width: 100%;
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    width: 708px;
    margin: 0 auto;
  }

  .example__indicators {
    display: flex;
    justify-content: space-between;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    margin-bottom: 53px;
    margin-top: 65px;
  }

  .example__spending {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding-top: 10px;
  }

  .example__spending-text {
    margin-bottom: 11px;
  }

  .example__condition {
    padding-left: 69px;
    padding-right: 69px;
  }

  .example__cat {
    background: linear-gradient(90deg,$grey 50%,#eaeaea 50%);
    height: 462px;
    padding-bottom: 68px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .example__photo {
    position: absolute;
  }
}

@media (min-width: 1300px) {
  .example {
    padding-top: 0;
  }

  .example__wrapper {
    background: linear-gradient(90deg,$grey 50%,#eaeaea 50%);
    .container {
      width: 1220px;
      display: flex;
    }
  }

  .example__title {
    margin-bottom: 70px;
  }

  .example__text {
    width: 50%;
  }

  .example__description {
    margin: 0;
    padding-top: 76px;
    padding-right: 100px;
    padding-bottom: 71px;

  }

  .example__indicators {
    flex-direction: column;
    justify-content: start;
  }

  .example__spending {
    text-align: left;
    flex-direction: row;
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 75px;
  }

  .example__spending-text {
    margin-right: 64px;
    margin-bottom: 0px;
  }

  .example__cat {
    height: auto;
    width: 50%;
    padding-bottom: 75px;
  }
}
