.form__label {
  text-transform: uppercase;
  color: $black-form;
}

.form__input {
  text-transform: uppercase;
  color: $grey-text;
}

.form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__button {
  width: 100%;
}

.form__textarea {
  text-transform: uppercase;
}

.form__note {
  font-family: arial;
  font-size: 14px;
  color: $grey-text;
}
