.how-work {
  margin-bottom: 42px;
}

.how-work__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

@media (min-width: 768px) {
  .how-work {
    padding-top: 46px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0;
  }

  .how-work__list {
    display: flex;
    flex-wrap: wrap;
  }

  .how-work__title {
    margin-bottom: 72px;
    font-size: 60px;
  }
}

@media (min-width: 1300px) {
  .how-work {
    padding-top: 72px;
    border: 0;
  }

  .how-work__list {
    flex-wrap: nowrap;
  }
}
