.how-work {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 42px;
}

.how-work__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

@media (min-width: 768px) {
  .how-work {
    padding-left: 30px;
    padding-right: 30px;
  }

  .how-work__list {
    display: flex;
    flex-wrap: wrap;
  }

  .how-work__title {
    margin-top: 51px;
    margin-bottom: 63px;
  }
}

@media (min-width: 1300px) {
  .how-work {
    padding-left: 40px;
    padding-right: 40px;
  }

  .how-work__list {
    flex-wrap: nowrap;
  }
}
