.index-list {
  @include clearlist;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.index-list__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.index-list__title {
  position: absolute;
  width: 87px;
  left: auto;
  top: 100%;
  transform: translateY(-50%);
  font-family: arial;
  font-size: 12px;
  line-height: 12px;
  color: $grey-text;
  text-align: center;
  background-color: $grey;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;
}

.index-list__item {
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;

}

@media (min-width: 768px) {
  .index-list{
    justify-content: start;
  }

  .index-list__item {
    margin-right: 42px;
    width: 162px;
    height: 72px;
  }

  .index-list__value {
    font-size: 30px;
    line-height: 37px;
  }

  .index-list__title {
    width: auto;
    font-size: 14px;
    line-height: 14px;
    background-color: $base;
    left: 26px;
    padding-left: 8px;
    padding-right: 8px;
    &--big {
      left: 8px;
    }
  }
}
