.main-nav {
  &--none {
    /*display:none;*/
  }
}

.main-nav__list {
  @include clearlist;
}

.main-nav__item {
  text-align: center;
  a {
    color: $black-title;
    font-size: 20px;
    font-weight: 500;
  }
}
