.main-nav {
  &--closed {
    display:none;
  }
}

.main-nav__list {
  @include clearlist;
}

.main-nav__item {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
  a {
    color: $black-title;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    margin-left: 35px;
    &--active {
      border-bottom: 2px solid $green;
    }
    a {
      color: $black-form;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

@media (min-width: 1300px) {
  .main-nav__item {
    &--active {
      border-bottom: 2px solid $base;
    }
    a {
      color: /*$base*/ black;
      font-size: 20px;
    }
  }
}
