.main-nav__list {
  @include clearlist;
}

.main-nav__item {
  a {
    color: $black-title;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

@media (max-width: 767px){
  .main-nav {
    &--closed {
      display:none;
    }
  }

  .main-nav__item {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e6e6e6;
    &:first-child {
      border-top: 1px solid #e6e6e6;
    }
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__item {
    margin-left: 35px;
    padding-bottom: 7px;
    padding-top: 7px;
    &--active {
      border-bottom: 2px solid $green; /*или это делается при помощи псевдоэлемента? */
    }
    a {
      color: $black-form;
      font-size: 18px;
      line-height: 25px;
      font-weight: 400;
    }
  }
}

@media (min-width: 1300px) {
  .main-nav__item {
    &--white {
      a {
        color: $base;
      }
    }
    a {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .main-nav__item--white.main-nav__item--active {
    border-bottom: 2px solid $base;
  }
}
