.more-goods {
  position: relative;
  padding-top: 30px;
  background-color: $base;

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $green;
    top: 44px;
    left: 0;
  }
}

.more-goods__list {
  @include clearlist;
  margin: 0 auto;
}

.more-goods__title {
  margin: 0 auto;
  position: relative;
  padding-bottom: 34px;
  border-bottom: 1px solid #ededed;
  z-index: 2;
}

.more-goods__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding-top: 10px;
  padding-bottom: 17px;
}

.more-goods__value,
.more-goods__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $grey-text;
}

.more-goods__product {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: $black-title;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}

.more-goods__order {
  width: 100%;
  font-size: 16px;
  margin-top: 13px;
  margin-bottom: 0;
}

.more-goods__banner {
  width: 280px;
  min-height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
  background-color: $green;
  background-image: url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-size: 56px 61px, 280px 289px;
  background-repeat: no-repeat;
  background-position: 50% 65px, 0 0;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-mobile@2x.jpg");
  }
}

.more-goods__link {
  p {
    color: $base;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 190px;
    padding-left: 60px;
    padding-right: 55px;
    margin: 0;
  }
}


@media (min-width: 768px) {
  .more-goods {
    padding-top: 0;
    margin-top: 65px;

    &::before {
      top: 23px;
    }
  }

  .more-goods__item {
    padding-top: 27px;
    padding-right: 36px;
    padding-bottom: 26px;
    padding-left: 37px;
    border-bottom: 1px solid #ededed;
    align-items: baseline;

    &--last-child {
      border-bottom: 0;
    }
  }

  .more-goods__title {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  .more-goods__product {
    width: auto;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .more-goods__value,
  .more-goods__price {
    font-size: 16px;
    line-height: 20px;
  }

  .more-goods__price {
    width: 95px;
    text-align: right;
  }

  .more-goods__order {
    font-size: 16px;
    line-height: 20px;
    margin-top: 21px;
    margin-bottom: 0;
  }

  .more-goods__list {
    border: 1px solid #ededed;
  }

  .more-goods__value {
    text-align: right;
    margin-left: auto;
  }

  .more-goods__banner {
    width: 708px;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@1x.jpg");
    background-size: 55px 60px, 708px 200px;
    background-position: 91px 65px, 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/icon-gift.svg"),
        url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .more-goods__link {
    p {
      padding: 75px 120px 69px 424px;
      text-align: left;
    }
  }
}

@media (min-width: 1300px) {
  .more-goods {
    margin-top: 75px;
  }

  .more-goods__title {
    border: 0;
  }

  .more-goods__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .more-goods__container {
    width: 895px;

    &--small {
      width: 245px;
    }
  }

  .more-goods__list {
    border: 0;
    width: 895px;
    margin: 0;
  }

  .more-goods__item {
    flex-wrap: nowrap;
    align-items: baseline;
    padding-right: 0;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 16px;

    &:first-child {
      border-top: 1px solid #ededed;
    }
  }

  .more-goods__product {
    width: 325px;
    margin-right: 7px;
  }

  .more-goods__value {
    width: 242px;
    text-align: left;
  }

  .more-goods__price {
    text-align: left;
  }

  .more-goods__order {
    margin: 0;
    width: 245px;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .more-goods__banner {
    width: 245px;
    min-height: 289px;

    margin: 0;
    margin-bottom: 86px;
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@1x.jpg");
    background-size: 55px 60px, 245px 289px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/icon-gift.svg"),
        url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .more-goods__link {
    p {
      padding-top: 190px;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
    }
  }
}
