.page-main__banner {
  position: relative;
  width: 100%;

  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 320px 305px;
  text-align: center;
  margin-bottom: 22px;
}

.page-main__banner-green {
  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px;
  }
}

.page-main__image {
  margin-top: -141px;
}

.page-main__title {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 28px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  &--white {
    color: $base;
    line-height: 36px;
  }

  &--catalog {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 27px;
  }

  &--programs {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.page-main__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 167px;
  margin-bottom: 0;
  margin-top: 23px;

  &--white {
    color: $base;
  }

  &--programs {
    padding: 0;
    margin-bottom: 39px;
    padding-right: 50px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .page-main__banner {
    margin-bottom: 529px;
  }

  .page-main__banner-green {
    background: none;
  }

  .page-main__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 242px;
    margin: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  .page-main__title {
    color: $black-title;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-top: 41px;
    padding-left: 88px;
    padding-right: 192px;

    &--catalog {
      margin-bottom: 165px;
      margin-top: 41px;
      border: 0;
      padding: 0;
    }

    &--programs {
      margin-bottom: 57px;
      padding-left: 0;
      padding-top: 25px;
    }
  }

  .page-main__choice {
    width: 245px;
    height: 52px;
    text-align: left;
    margin-left: 90px;
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 15px;
    z-index: 2;
    font-size: 20px;
    line-height: 20px;
  }

  .page-main__text {
    font-size: 20px;
    line-height: 20px;
    color: $black-title;
    text-align: left;
    padding: 0;
    padding-left: 90px;
    margin-top: 42px;
    margin-bottom: 46px;

    &--programs {
      padding-left: 40px;
      padding-right: 320px;
      line-height: 30px;
      margin-bottom: 65px;
    }
  }
}

@media (min-width: 1300px) {
  .page-main__banner {
    background: 0;
    margin-bottom: 268px;
  }

  .page-main__banner-desktop {
    width: 50%;
    position: absolute;
    top: -115px;
    left: 50%;
    z-index: -1;
    height: 696px;
    background-color: #64a83b;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px;
    }
  }

  .page-main__image {
    width: 552px;
    height: 499px;
    left: 50%;
    top: 26px;
    transform: translate(-29%, 0);
  }

  .page-main__title {
    padding-top: 103px;
    padding-left: 80px;
    padding-right: 700px;
    z-index: 2;

    &--catalog {
      margin-left: auto;
      margin-right: auto;
      margin-top: 69px;
      padding: 0;
    }

    &--programs {
      padding: 0;
      margin-top: 69px;
    }
  }

  .page-main__text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
    padding-left: 80px;

    &--programs {
      margin-left: 0;
      margin-bottom: 63px;
      padding-left: 0;
      padding-right: 850px;
    }
  }

  .page-main__choice {
    margin-left: 80px;
    margin-bottom: 0;
  }
}
