.page {
  width: 320px;
  margin: 0 auto;
  /*outline: 2px solid tomato;*/
}



@media (min-width: 768px) {
  .page {
    width: 768px;
  }
}

@media (min-width: 1300px) {
  .page {
    width: 1300px;
    position: relative;
  }
}
