.page-header__toggle {
  border:0;
  cursor: pointer;
  padding: 0;
  background: 0;
  &--off {
    width: 25px;
    height: 19px;
  }

  &--on {
    width: 19px;
    height: 19px;
  }

  &--off::before {
    content: "";

    position: absolute;
    top: 23px;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: $black-form;
    box-shadow: 0 8px 0 0 $black-form, 0 16px 0 0 $black-form;
  }
  &--on::before,
  &--on::after {
    content: "";

    position: absolute;
    top: 32px;
    right: 0px;

    width: 24px;
    height: 2px;

    background-color: $black-form;
  }

  &--on::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--on::after {
    transform: rotate(-45deg);
  }
}

.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .page-header {
    width: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    outline: 2px solid blue;
  }

  .page-header__wrapper {
    width: auto;
    margin: 0;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: 1300px) {
  .page-header {
    width: 1220px;
    padding-top: 37px;
  }

  .page-header__wrapper {
    padding-top: 0;
  }

  .page-header__logo-image {
    padding: 0;
  }
}
