.page-footer {
  background-color: $grey;
  padding-bottom: 20px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.page-footer__copyright {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial";
  font-size: 16px;
  line-height: 16px;
  color: $grey-text;

  svg {
    width: 42px;
    height: 42px;
    fill: $grey-text;
  }

  &:hover {
    svg {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo {
  padding-top: 36px;
  padding-bottom: 29px;
  border-bottom: 1px solid #d9d9d9;
  width: 280px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__wrapper {
  width: 100%;
  padding-left: 73px;
  padding-top: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .page-footer {
    padding-top: 49px;
    padding-bottom: 53px;
  }

  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    width: auto;
    padding: 0;
    border: 0;
    margin-right: 32px;
    padding-top: 5px;
  }

  .page-footer__wrapper {
    border: 0;
    padding: 0;
    width: auto;
    margin-right: 13px;
  }

  .page-footer__copyright {
    margin-top: 0;
    width: auto;
    justify-content: center;

    span {
      margin-right: 8px;
    }
  }
}
