.page-main__banner {
  width: 100%;
  background-color: #64a83b;
  background-image: url(../img/index-can-mobile@1x.png),
    url(../img/index-background-mobile@1x.jpg);
  background-position: 50% 167px, 50% 0;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 300px;
  text-align: center;

  border: 2px solid navy;
}

.page-main__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  &--white {
    color: $base;
    line-height: 36px;
  }
}

.page-main__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  &--white {
    color: $base;
  }
}

.page-main__choice {
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1300px) {
  .page-main__banner {
    background-color: transparent;
    background-image: url(../img/index-can-tablet@1x.jpg);
    background-position: 50% 250px;
    .page {
      padding: 0 120px;
    }
  }
  .page-main__title {
    color: $black-title;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .page-main__choice {
    width: 250px;
  }
  .page-main__text {
    font-size: 20px;
    line-height: 20px;
    color: $black-title;
    text-align: left;
  }

}
