.page-header__toggle {
  width: 25px;
  height: 19px;
  background-image: url(../img/icon-mobile-menu.svg);
  border: 0;
  cursor: pointer;
  padding: 0
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

@media (min-width: 768px) and (max-width: 1300px) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__toggle {
    display: none;
  }
}
