.production {
  @include clearlist;
}

.production__title {
  color: $black-title;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin-right: 50px;
  &--nomr {
    margin-right: 0;
    text-align: center;
  }
}

.production__item {
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.production__order {
  font-size: 16px;
}

.production__card {
  display: flex;
}

.production__logo {
  width: 50%;
}

.production__text {
  width: 50%;
}

.production__table {
  width: 100%;
  font-family: arial;
  font-size: 12px;
  line-height: 16px;
  color: $grey-text;
  padding-bottom: 23px;
  td {
    text-align: left;
    &:last-child {
      text-align: right;
    }
  }
}

.production__more {
  font-family: arial;
  font-size: 12px;
  line-height: 16px;
  color: $grey-text;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-wrap: wrap;
  }

  .production__item {
    width: 324px;
    padding-top: 165px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    background-color: $grey;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 140px;
    border: 0;
    &:last-child {
      background-color: $base;
      border: 1px solid #ededed;
      margin-bottom: 0;
    }
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .production__card {
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .production__title {
    margin: 0;
    margin-bottom: 17px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .production__logo {
    position: absolute;
    left: center;
    top: -100px;
  }

  .production__text {
    width: 100%;
  }

  .production__table {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 33px;
    td {
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  .production__more {
    margin-bottom: 100px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1300px) {
  .production__item {
    width: 245px;
    margin-right: 40px;
    margin-left: 40px;
    &:nth-child(n+5) {
      margin-bottom: 0;
      }
  }

  .production__title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
