.production {
  @include clearlist;
}

.production__title {
  color: $black-title;
  font-size: 16px;
  font-weight: 400;
}

.production__item {
  text-align: center;
  p {
    font-family: arial;
    font-size: 12px;
    color: $grey-text;
  }
}

.production__order {
  font-size: 16px;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-wrap: wrap;
  }

  .production__item {
    width: 50%;
  }
}

@media (min-width: 1300px) {
  .production__item {
    width: 25%;
  }
}
