.property-list {
  @include clearlist;
}

.property-list__logo {
  width: 60px;
  height: 60px;
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center;
  &--leaf {
    background-image: url(../img/advantage-leaf@1x.png);
  }

  &--boiling {
    background-image: url(../img/advantage-powder@1x.png);
  }

  &--cutlery {
    background-image: url(../img/advantage-dining@1x.png);
  }

  &--clock {
    background-image: url(../img/advantage-clock@1x.png);
  }
}

.property-list__description {
  font-family: arial;
  font-size: 14px;
  color: $grey-text;
}

@media (min-width: 768px) {
  .property-list__item {
    width: 50%;
  }

  .property-list__logo {
    width: 100px;
    height: 100px;
    margin-bottom: 37px;
  }

  .property-list__description {
    font-size: 16px;
    line-height: 24px;
    margin-right: 100px;
    margin-bottom: 137px;
  }
}

@media (min-width: 1300px) {
  .property-list__item {
    width: auto;
  }
}
