.target-list__item {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .target-list__item {
    margin-bottom: 32px;
  }

  .target-list__container {
    width: auto;
  }
}

@media (min-width: 1300px) {
  .target-list__item {
    margin-bottom: 33px;
  }
}
