.training {
  position: relative;
  background-color: $grey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.training__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-title;
}

.training__logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center;
}

.training__description {
  font-family: Arial;
  font-size: 14px;
  color: $grey-text;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}

.training__link {
  color: $black-title;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .training {
    padding-left: 55px;
  }

  .training__text {
    display: flex;
    flex-direction: column;
  }

  .training__logo {
    position: absolute;
    top: 50%;
    right: 62px;
    transform: translateY(-50%);
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $green;
  }

  .training__title {
    font-size: 36px;
    line-height: 37px;
    margin-top: 81px;
    margin-bottom: 26px;
  }

  .training__link {
    margin-bottom: 62px;
  }

  .training__description {
    border: 0;
    margin-bottom: 61px;
    margin-right: 270px;
    font-size: 16px;
    line-height: 24px;
    &--mrbig {
      margin-right: 310px;
    }
  }
}

@media (min-width: 1300px) {
  .training {
    width: 570px;
  }

  .training__logo {
    width: 100px;
    min-width: 100px;
    height: 100px;
  }
}
