html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ffff00;
  color: #000000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button;
  font: inherit; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111; }

@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px; }
    .title--hr {
      font-size: 36px;
      line-height: 36px; } }

.hr {
  display: inline-block;
  background-color: #ffffff;
  padding-right: 24px; }
  .hr::before {
    content: "";
    width: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -24px;
    background-color: #ffffff; }

@media (min-width: 768px) {
  .hr {
    padding-right: 38px; }
    .hr::before {
      width: 38px;
      left: -38px; }
    .hr--pl {
      padding-left: 38px; }
      .hr--pl::before {
        display: none; } }

@media (min-width: 1300px) {
  .hr--pl {
    padding-left: 0; }
    .hr--pl::before {
      display: block; } }

.container {
  width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 708px; }
    .container--p40 {
      padding-left: 40px;
      padding-right: 40px; } }

@media (min-width: 1300px) {
  .container {
    width: 1220px; }
    .container--p40 {
      padding: 0; } }

.about-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.about-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 13px; }
  .about-list__item:last-child {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .about-list {
    padding-left: 41px;
    padding-right: 37px; } }

@media (min-width: 1300px) {
  .about-list {
    padding: 0;
    margin-right: 80px; } }

.add-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.add-list__item {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 18px; }
  .add-list__item:last-child {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .add-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .add-list__item {
    width: 283px; }
    .add-list__item:first-child {
      margin-bottom: 50px; }
    .add-list__item:nth-child(3) {
      margin-bottom: 0; } }

@media (min-width: 1300px) {
  .add-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .add-list__item {
    width: 245px;
    margin-right: 80px; }
    .add-list__item:last-child {
      margin-right: 0; }
    .add-list__item:first-child {
      margin-bottom: 32px; } }

.button {
  display: block;
  width: 280px;
  height: 40px;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 12px;
  background-color: #68b738;
  text-transform: uppercase;
  text-align: center;
  border: 0; }
  .button:hover {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }
  .button--grey {
    background-color: #f2f2f2;
    color: #444444; }
    .button--grey:hover {
      background-color: #ebebeb; }
    .button--grey:active {
      color: rgba(68, 68, 68, 0.3); }

@media (min-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 20px; } }

@media (min-width: 1300px) {
  .button {
    font-size: 20px; } }

.contacts {
  position: relative;
  background-color: #ffffff; }
  .contacts--grey {
    background-color: #f2f2f2; }

.contacts__wrap {
  padding-top: 28px;
  padding-bottom: 25px; }

.contacts__text {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  margin: 0 auto; }

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-right: 19px; }

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial";
  color: #444444;
  margin: 0; }

.contacts__map {
  width: 100%;
  height: 362px;
  border: 0;
  z-index: -1; }

.contacts__map-nojs {
  height: 400px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1; }

@media (min-width: 768px) {
  .contacts__wrap {
    padding-top: 64px;
    padding-bottom: 56px; }
  .contacts__text {
    width: 708px;
    margin: 0 auto; }
  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    margin-right: 300px;
    margin-left: 41px; }
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin: 0;
    margin-right: 42px; }
    .contacts__address span {
      display: inline-block;
      margin-top: 20px; }
  .contacts__map {
    height: 400px; }
  .contacts__map-nojs {
    width: 767px; } }

@media (min-width: 1300px) {
  .contacts__wrap {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-650px, 0);
            transform: translate(-650px, 0); }
  .contacts__text {
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: #ffffff;
    top: 95px;
    left: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 61px;
    padding-right: 90px;
    padding-bottom: 62px;
    padding-left: 76px; }
  .contacts__title {
    margin: 0;
    margin-right: 95px;
    margin-top: 3px; }
  .contacts__address {
    margin: 0;
    text-align: left; }
    .contacts__address span {
      display: inline-block;
      margin-top: 20px; }
  .contacts__map-nojs {
    width: 1299px; } }

.contacts-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.contacts-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 13px; }
  .contacts-list__item:last-child {
    margin-bottom: 0; }

@media (min-width: 1300px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contacts-list__item {
    width: 50%; }
    .contacts-list__item:first-child {
      margin-right: 78px; } }

.example {
  position: relative;
  padding-top: 30px;
  padding-bottom: 38px;
  background-color: #f2f2f2; }

.example__title {
  margin: 0 auto;
  margin-bottom: 33px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal; }

.example__description {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 27px;
  padding-right: 14px; }

.example__spending {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center; }

.example__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.example__photo {
  margin-bottom: 30px; }

.example__condition {
  text-align: center; }

@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    padding-top: 42px;
    padding-bottom: 0; }
  .example__container {
    width: 100%; }
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px; }
  .example__text {
    width: 708px;
    margin: 0 auto; }
  .example__indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 255px; }
  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    margin-bottom: 53px; }
  .example__spending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding-top: 10px; }
  .example__spending-text {
    margin-bottom: 11px; }
  .example__condition {
    padding-left: 69px;
    padding-right: 69px;
    z-index: 2; }
  .example__cat {
    position: relative;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%);
    height: 462px;
    padding-bottom: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .example__photo {
    position: absolute;
    left: 50%;
    bottom: 84px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 690px;
    height: 517px;
    z-index: 1; } }

@media (min-width: 1300px) {
  .example {
    padding-top: 0; }
  .example__wrapper {
    background: -webkit-gradient(linear, left top, right top, color-stop(70%, #f2f2f2), color-stop(30%, #eaeaea));
    background: linear-gradient(90deg, #f2f2f2 70%, #eaeaea 30%); }
  .example__container {
    width: 1220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .example__title {
    margin-bottom: 76px; }
  .example__text {
    width: 50%;
    margin: 0; }
  .example__description {
    margin: 0;
    padding-top: 70px;
    padding-right: 175px;
    padding-bottom: 68px; }
  .example__indicators {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 0; }
  .example__spending {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 81px; }
  .example__spending-text {
    margin-right: 64px;
    margin-bottom: 0; }
  .example__cat {
    height: auto;
    width: auto;
    margin-left: auto;
    padding-bottom: 75px;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%); }
  .example__condition {
    padding: 0; }
  .example__photo {
    min-width: 690px;
    bottom: 110px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

.form {
  background-color: #ffffff;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto; }

.form__about-cat {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px; }

.form__container {
  border: 1px solid #ededed; }

.form__label {
  margin-right: 12px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #222222; }

.form__contacts {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0; }
  .form__contacts::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #68b738;
    top: 42px;
    left: 0;
    z-index: 1; }

.form__target {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  margin-left: auto;
  margin-right: auto; }

.form__comment {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 5px; }
  .form__comment::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #68b738;
    top: 42px;
    left: 0;
    z-index: 1; }

.form__textarea {
  width: 280px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }

.form__extra {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0; }
  .form__extra::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #68b738;
    top: 42px;
    left: 0;
    z-index: 1; }

.form__add {
  margin-top: 40px;
  margin-bottom: 38px; }

.form__input {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 12px;
  padding-right: 8px;
  text-transform: uppercase;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none; }
  .form__input:hover {
    border: 1px solid #cdcdcd; }
  .form__input:focus {
    border: 2px solid #444444; }
    .form__input:focus + span {
      color: #68b738; }
  .form__input--error {
    border: 2px solid #ff8686; }
    .form__input--error:hover {
      border: 2px solid #ff8686; }
    .form__input--error:focus {
      border: 2px solid #ff8686; }

.form__title {
  padding-left: 0;
  padding-right: 70px;
  margin-bottom: 35px;
  margin-top: 27px;
  position: relative;
  z-index: 2; }

.form__button {
  width: 280px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px; }

.form__note {
  display: block;
  font-family: "Arial";
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center; }

.form__style {
  position: relative; }
  .form__style--checkbox {
    padding-left: 46px; }
    .form__style--checkbox::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: -3px;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      cursor: pointer; }
    .form__style--checkbox:hover::before {
      border: 1px solid #bababa; }
  .form__style--radio {
    padding-left: 46px; }
    .form__style--radio::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: -3px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #cdcdcd;
      cursor: pointer; }
    .form__style--radio:hover::before {
      border: 1px solid #bababa; }

.form__checkbox:disabled + .form__style {
  opacity: 0.3; }

.form__checkbox:checked + .form__style--checkbox::after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 17px;
  top: 4px;
  left: 5px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat; }

.form__radio:disabled + .form__style {
  opacity: 0.3; }

.form__radio:checked + .form__style--radio::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738; }

.form__icon {
  display: block;
  position: absolute;
  color: #222222; }
  .form__icon--email {
    width: 18px;
    height: 14px;
    top: 16px;
    right: 15px; }
  .form__icon--tel {
    width: 21px;
    height: 21px;
    top: 12px;
    right: 12px; }

@media (min-width: 768px) {
  .form {
    margin-bottom: 50px; }
  .form__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 71px; }
  .form__about-cat {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px; }
  .form__container {
    width: 628px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .form__target {
    padding-top: 34px; }
  .form__contacts {
    margin-bottom: 36px; }
    .form__contacts::before {
      top: 48px; }
  .form__comment {
    margin-bottom: 38px; }
    .form__comment::before {
      top: 50px; }
  .form__textarea {
    margin: 0;
    height: 175px;
    font-size: 20px;
    line-height: 30px;
    width: 631px; }
  .form__data {
    padding-left: 0; }
  .form__extra::before {
    top: 50px; }
  .form__add {
    margin-bottom: 61px; }
  .form__label {
    font-size: 20px;
    line-height: 20px; }
  .form__input {
    font-size: 20px;
    line-height: 20px; }
  .form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 40px;
    padding-right: 40px; }
  .form__button {
    width: 283px;
    height: auto;
    margin-left: 0;
    margin-right: 60px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 17px; }
  .form__note {
    font-size: 16px; }
  .form__style--checkbox {
    padding-left: 58px; }
    .form__style--checkbox::before {
      top: -6px;
      width: 40px;
      height: 40px; }
  .form__style--radio {
    padding-left: 89px; }
    .form__style--radio::before {
      left: 28px;
      top: -5px;
      width: 40px;
      height: 40px; }
  .form__checkbox:checked + .form__style--checkbox::after {
    top: 6px;
    left: 8px; }
  .form__radio:checked + .form__style--radio::after {
    top: 6px;
    left: 39px;
    width: 18px;
    height: 18px;
    background-color: #68b738; }
  .form__icon--email {
    top: 22px;
    right: 20px; }
  .form__icon--tel {
    top: 18px;
    right: 17px; } }

@media (min-width: 1300px) {
  .form {
    margin-bottom: 62px; }
  .form__cat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 67px; }
  .form__container {
    width: 570px;
    margin-left: 80px;
    margin-bottom: 0; }
  .form__about-cat {
    margin-bottom: 0;
    width: 570px; }
  .form__data {
    margin-top: 71px; }
  .form__contacts {
    margin-bottom: 53px; }
    .form__contacts::before {
      top: 22px; }
  .form__comment {
    margin-bottom: 69px; }
    .form__comment::before {
      top: 22px; }
  .form__extra::before {
    top: 22px; }
  .form__target {
    padding-top: 36px; }
  .form__add {
    margin-top: 67px; }
  .form__textarea {
    margin-top: 71px;
    width: 1220px; }
  .form__wrap {
    padding: 0; }
  .form__title {
    margin-top: 0;
    margin-bottom: 0; }
  .form__button {
    width: 568px;
    margin-right: 82px;
    font-size: 20px; } }

.how-work {
  margin-bottom: 42px; }

.how-work__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal; }

@media (min-width: 768px) {
  .how-work {
    padding-top: 46px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0; }
  .how-work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .how-work__title {
    margin-bottom: 72px;
    font-size: 60px; } }

@media (min-width: 1300px) {
  .how-work {
    padding-top: 72px;
    border: 0; }
  .how-work__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

.index-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px; }

.index-list__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center; }

.index-list__title {
  position: absolute;
  width: 87px;
  left: auto;
  top: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  background-color: #f2f2f2;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2; }

.index-list__item {
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media (min-width: 768px) {
  .index-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 0; }
  .index-list__item {
    margin-right: 42px;
    width: 162px;
    height: 72px; }
  .index-list__value {
    font-size: 30px;
    line-height: 37px; }
  .index-list__title {
    width: auto;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    left: 26px;
    padding-left: 8px;
    padding-right: 8px; }
    .index-list__title--big {
      left: 8px; } }

@media (min-width: 1300px) {
  .index-list {
    margin-bottom: 60px; }
  .index-list__title {
    background-color: #f2f2f2; } }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.main-nav__item:hover:not(.main-nav__item--active) {
  opacity: 0.6; }

.main-nav__item:active:not(.main-nav__item--active) {
  opacity: 0.3; }

.main-nav__item a {
  color: #111111;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .main-nav--closed {
    display: none; }
  .main-nav__item {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e6e6e6; }
    .main-nav__item:first-child {
      border-top: 1px solid #e6e6e6; } }

@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-nav__item {
    margin-left: 35px;
    padding-bottom: 7px;
    padding-top: 7px; }
    .main-nav__item--active {
      border-bottom: 2px solid #68b738; }
    .main-nav__item a {
      color: #222222;
      font-size: 18px;
      line-height: 25px;
      font-weight: 400; } }

@media (min-width: 1300px) {
  .main-nav__item--white a {
    color: #ffffff; }
  .main-nav__item a {
    font-size: 20px;
    line-height: 25px; }
  .main-nav__item--white.main-nav__item--active {
    border-bottom: 2px solid #ffffff; } }

.more-goods {
  position: relative;
  padding-top: 28px;
  background-color: #ffffff; }
  .more-goods::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #68b738;
    top: 42px;
    left: 0; }

.more-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto; }

.more-goods__title {
  margin: 0 auto;
  position: relative;
  padding-bottom: 34px;
  border-bottom: 1px solid #ededed;
  z-index: 2; }

.more-goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding-top: 13px;
  padding-bottom: 17px; }

.more-goods__value,
.more-goods__price {
  font-family: "Arial";
  font-size: 14px;
  color: #444444; }

.more-goods__product {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px; }

.more-goods__order {
  width: 100%;
  font-size: 16px;
  margin-top: 13px;
  margin-bottom: 0; }

.more-goods__banner {
  width: 280px;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 38px;
  background-color: #68b738;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-size: 56px 61px, 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 65px, 0 0; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .more-goods__banner {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@2x.jpg"); } }

.more-goods__link p {
  color: #ffffff;
  font-family: "Arial";
  font-size: 16px;
  text-align: center;
  padding-top: 190px;
  padding-left: 60px;
  padding-right: 55px;
  margin: 0; }

@media (min-width: 768px) {
  .more-goods {
    padding-top: 0;
    margin-top: 65px; }
    .more-goods::before {
      top: 23px; }
  .more-goods__item {
    padding-top: 27px;
    padding-right: 36px;
    padding-bottom: 26px;
    padding-left: 37px;
    border-bottom: 1px solid #ededed;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .more-goods__item--last-child {
      border-bottom: 0; }
  .more-goods__title {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px; }
  .more-goods__product {
    width: auto;
    margin: 0;
    font-size: 20px;
    line-height: 20px; }
  .more-goods__value,
  .more-goods__price {
    font-size: 16px;
    line-height: 20px; }
  .more-goods__price {
    width: 95px;
    text-align: right; }
  .more-goods__order {
    font-size: 16px;
    line-height: 20px;
    margin-top: 21px;
    margin-bottom: 0; }
  .more-goods__list {
    border: 1px solid #ededed; }
  .more-goods__value {
    text-align: right;
    margin-left: auto; }
  .more-goods__banner {
    width: 708px;
    height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@1x.jpg");
    background-size: 55px 60px, 708px 200px;
    background-position: 91px 65px, 0 0; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .more-goods__banner {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .more-goods__link p {
    padding: 75px 120px 69px 424px;
    text-align: left; } }

@media (min-width: 1300px) {
  .more-goods {
    margin-top: 75px; }
  .more-goods__title {
    border: 0; }
  .more-goods__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .more-goods__container {
    width: 895px; }
    .more-goods__container--small {
      width: 245px; }
  .more-goods__list {
    border: 0;
    width: 895px;
    margin: 0; }
  .more-goods__item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-right: 0;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 16px; }
    .more-goods__item:first-child {
      border-top: 1px solid #ededed; }
  .more-goods__product {
    width: 325px; }
  .more-goods__value {
    width: 242px;
    text-align: left; }
  .more-goods__price {
    text-align: left; }
  .more-goods__order {
    margin: 0;
    width: 245px;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px; }
  .more-goods__banner {
    width: 245px;
    height: 289px;
    margin: 0;
    margin-bottom: 86px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@1x.jpg");
    background-size: 55px 60px, 245px 289px; } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .more-goods__banner {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@2x.jpg"); } }

@media (min-width: 1300px) {
  .more-goods__link p {
    padding-top: 190px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center; } }

.page-footer {
  background-color: #f2f2f2;
  padding-bottom: 20px; }

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__copyright {
  margin-top: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Arial";
  font-size: 16px;
  line-height: 16px;
  color: #444444; }
  .page-footer__copyright svg {
    width: 42px;
    height: 42px;
    fill: #444444; }
  .page-footer__copyright:hover svg {
    fill: #68b738; }
  .page-footer__copyright:active {
    opacity: 0.3; }

.page-footer__logo {
  padding-top: 36px;
  padding-bottom: 29px;
  border-bottom: 1px solid #d9d9d9;
  width: 280px;
  text-align: center; }
  .page-footer__logo:hover {
    opacity: 0.8; }
  .page-footer__logo:active {
    opacity: 0.6; }

.page-footer__wrapper {
  width: 100%;
  padding-left: 73px;
  padding-top: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .page-footer {
    padding-top: 49px;
    padding-bottom: 53px; }
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__logo {
    width: auto;
    padding: 0;
    border: 0;
    margin-right: 32px;
    padding-top: 5px; }
  .page-footer__wrapper {
    border: 0;
    padding: 0;
    width: auto;
    margin-right: 13px; }
  .page-footer__copyright {
    margin-top: 0;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .page-footer__copyright span {
      margin-right: 8px; } }

.page-header__toggle {
  border: 0;
  cursor: pointer;
  padding: 0;
  background: 0; }
  .page-header__toggle--off {
    width: 25px;
    height: 19px; }
  .page-header__toggle--on {
    width: 19px;
    height: 19px;
    margin-right: 3px;
    margin-top: 3px; }
  .page-header__toggle--off::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #222222;
    -webkit-box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
            box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222; }
  .page-header__toggle--on::before, .page-header__toggle--on::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #222222; }
  .page-header__toggle--on::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .page-header__toggle--on::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
  padding-bottom: 15px; }

.page-header__logo:hover {
  opacity: 0.8; }

.page-header__logo:active {
  opacity: 0.6; }

@media (min-width: 768px) {
  .page-header {
    width: 708px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-header__wrapper {
    width: auto;
    margin: 0; }
  .page-header__toggle {
    display: none; }
  .page-header__logo-image {
    width: 174px;
    height: 59px; } }

@media (min-width: 1300px) {
  .page-header {
    width: 1220px;
    padding-top: 44px; }
  .page-header__wrapper {
    padding: 0; }
  .page-header__logo-image {
    padding: 0;
    width: 203px;
    height: 60px; } }

.page-main__banner {
  position: relative;
  width: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 320px 305px;
  text-align: center;
  margin-bottom: 20px; }

.page-main__banner-green {
  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__banner-green {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px; } }

.page-main__image {
  margin-top: -138px; }

.page-main__title {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 28px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }
  .page-main__title--white {
    color: #ffffff;
    line-height: 36px; }
  .page-main__title--catalog {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 27px; }
  .page-main__title--programs {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 25px; }

.page-main__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 167px;
  margin-bottom: 0;
  margin-top: 23px; }
  .page-main__text--white {
    color: #ffffff; }
  .page-main__text--programs {
    padding: 0;
    margin-bottom: 39px;
    padding-right: 50px;
    line-height: 18px; }

@media (min-width: 768px) {
  .page-main__banner {
    margin-bottom: 529px; }
  .page-main__banner-green {
    background: none; }
  .page-main__image {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 242px;
    margin: 0;
    width: 709px;
    height: 609px;
    z-index: -1; }
  .page-main__title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-top: 41px;
    padding-left: 88px;
    padding-right: 192px; }
    .page-main__title--catalog {
      margin-bottom: 165px;
      margin-top: 43px;
      border: 0;
      padding: 0; }
    .page-main__title--programs {
      margin-bottom: 57px;
      padding-left: 0;
      padding-top: 35px; }
  .page-main__choice {
    width: 250px;
    height: 52px;
    text-align: left;
    margin-left: 90px;
    padding-left: 26px;
    padding-top: 17px;
    padding-bottom: 15px;
    z-index: 2;
    font-size: 20px;
    line-height: 20px; }
  .page-main__text {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
    padding: 0;
    padding-left: 90px;
    margin-top: 42px;
    margin-bottom: 48px; }
    .page-main__text--programs {
      padding-left: 40px;
      padding-right: 320px;
      line-height: 30px;
      margin-bottom: 62px; } }

@media (min-width: 1300px) {
  .page-main__banner {
    background: 0;
    margin-bottom: 268px; }
  .page-main__banner-desktop {
    width: 50%;
    position: absolute;
    top: -115px;
    left: 50%;
    z-index: -1;
    height: 696px;
    background-color: #64a83b;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat; } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .page-main__banner-desktop {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px; } }

@media (min-width: 1300px) {
  .page-main__image {
    width: 552px;
    height: 499px;
    left: 50%;
    top: 26px;
    -webkit-transform: translate(-29%, 0);
            transform: translate(-29%, 0); }
  .page-main__title {
    padding-top: 107px;
    padding-left: 80px;
    padding-right: 700px;
    z-index: 2; }
    .page-main__title--catalog {
      margin-left: auto;
      margin-right: auto;
      margin-top: 59px;
      padding: 0; }
    .page-main__title--programs {
      padding: 0;
      margin-top: 73px; }
  .page-main__text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
    padding-left: 80px; }
    .page-main__text--programs {
      margin-left: 0;
      margin-bottom: 63px;
      padding-left: 0;
      padding-right: 850px; }
  .page-main__choice {
    margin-left: 80px;
    margin-bottom: 0; } }

.production {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%; }

.production__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px; }
  .production__title--nomr {
    margin: 0;
    text-align: center; }

.production__item {
  position: relative;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ededed;
  padding-bottom: 24px; }
  .production__item:first-child {
    border-top: 1px solid #ededed; }
  .production__item:last-child {
    padding-top: 80px; }
    .production__item:last-child::before {
      content: "";
      width: 31px;
      height: 31px;
      background-image: url("../img/icon-plus-mobile.svg");
      position: absolute;
      top: 27px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.production__order {
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  margin: 0 auto; }

.production__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  margin: 0 auto; }

.production__photo {
  height: 142px;
  min-width: 140px; }

.production__text {
  width: 50%; }

.production__table {
  width: 100%;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  padding-bottom: 17px;
  border-spacing: 0; }
  .production__table td {
    text-align: left; }
    .production__table td:last-child {
      text-align: right; }

.production__more {
  margin-top: 7px;
  margin-bottom: 21px;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  color: #444444; }

@media (min-width: 768px) {
  .production {
    width: 708px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .production__item {
    width: 324px;
    padding-top: 163px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
    border: 0; }
    .production__item:first-child {
      border-top: none; }
    .production__item:nth-child(odd) {
      margin-left: auto;
      margin-right: 30px; }
    .production__item:nth-child(even) {
      margin-right: auto;
      margin-left: 30px; }
    .production__item:last-child {
      background-color: #ffffff;
      border: 1px solid #ededed;
      margin-bottom: 0;
      padding-top: 163px; }
    .production__item:nth-last-child(2) {
      margin-bottom: 0; }
  .production__card {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto; }
  .production__title {
    margin: 0;
    margin-bottom: 17px;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 20px;
    line-height: 20px;
    text-align: center; }
  .production__photo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: auto;
    min-width: 324px; }
    .production__photo--small {
      height: 172px;
      top: -209px; }
    .production__photo--big {
      height: 208px;
      top: -245px; }
  .production__text {
    width: 100%; }
  .production__table {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 32px; }
    .production__table td {
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 7px;
      padding-top: 9px; }
  .production__order {
    width: auto; }
  .production__more {
    margin-top: 27px;
    margin-bottom: 88px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 1300px) {
  .production {
    width: 1220px; }
  .production__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 142px; }
    .production__item:nth-child(odd) {
      margin-left: 0;
      margin-right: 80px; }
    .production__item:nth-child(even) {
      margin-right: 80px;
      margin-left: 0; }
    .production__item:nth-child(n+5) {
      margin-bottom: 0; }
    .production__item:nth-child(4n) {
      margin-right: auto; }
    .production__item:nth-child(4n+1) {
      margin-left: auto; }
  .production__photo {
    min-width: 245px; }
  .production__title {
    padding-left: 10px;
    padding-right: 10px; }
  .production__more {
    padding: 0; } }

.programs {
  margin-bottom: 20px; }

.programs__item {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px; }
  .programs__item:last-child {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .programs {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .programs__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 31px; }
    .programs__item:last-child {
      margin-bottom: 0; } }

@media (min-width: 1300px) {
  .programs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .programs__item {
    position: relative;
    display: block; } }

.property-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.property-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .property-list__item:last-child {
    margin-bottom: 0; }

.property-list__logo {
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center; }
  .property-list__logo--leaf {
    background-image: url("../img/advantage-leaf@1x.png"); }
  .property-list__logo--boiling {
    background-image: url("../img/advantage-powder@1x.png"); }
  .property-list__logo--cutlery {
    background-image: url("../img/advantage-dining@1x.png"); }
  .property-list__logo--clock {
    background-image: url("../img/advantage-clock@1x.png"); }

.property-list__description {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0; }

@media (min-width: 768px) {
  .property-list {
    counter-reset: myCounter; }
  .property-list__item {
    position: relative;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding-bottom: 42px;
    margin-bottom: 90px; }
    .property-list__item::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      position: absolute;
      left: 118px;
      top: -60px;
      color: #f2f2f2;
      font-size: 281px;
      z-index: -1; }
    .property-list__item:nth-child(2n) {
      padding-left: 30px; }
      .property-list__item:nth-child(2n)::before {
        left: 145px; }
    .property-list__item:nth-child(2) .property-list__description {
      padding-right: 100px; }
    .property-list__item:last-child .property-list__description {
      padding-right: 78px; }
    .property-list__item:nth-child(n+2) {
      padding-bottom: 102px;
      margin-bottom: 0; }
  .property-list__logo {
    width: 80px;
    min-width: 80px;
    height: 80px;
    margin-bottom: 33px; }
  .property-list__description {
    font-size: 16px;
    line-height: 24px;
    padding-right: 150px; } }

@media (min-width: 1300px) {
  .property-list__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 83px; }
    .property-list__item::before {
      left: 115px; }
    .property-list__item:last-child {
      margin-right: 0; }
      .property-list__item:last-child .property-list__description {
        padding-right: 0; }
    .property-list__item:nth-child(2n) {
      padding-left: 0; }
      .property-list__item:nth-child(2n)::before {
        left: 110px; }
    .property-list__item:nth-child(2) .property-list__description {
      padding-right: 0; }
  .property-list__logo {
    width: 80px;
    height: 80px; }
  .property-list__description {
    margin: 0;
    padding-right: 20px; } }

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.social-list__item {
  margin-right: 38px; }
  .social-list__item:last-child {
    margin-right: 0; }
  .social-list__item a {
    color: #444444; }
    .social-list__item a:hover {
      color: #68b738; }
    .social-list__item a:active {
      color: rgba(104, 183, 56, 0.3); }

@media (min-width: 768px) {
  .social-list__item {
    margin-right: 29px; }
  .social-list__vk {
    width: 30px;
    height: 16px; }
  .social-list__insta {
    width: 23px;
    height: 23px; }
  .social-list__fb {
    width: 14px;
    height: 28px; } }

.status-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.status-bar__condition {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  border: 0;
  background: 0;
  cursor: pointer; }

.status-bar__line-wrap {
  width: 84px;
  height: 16px;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  margin-right: 19px;
  margin-left: 19px; }

.status-bar__line-color {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738; }

@media (min-width: 768px) {
  .status-bar__condition {
    padding-bottom: 6px;
    border-bottom: 1px dotted #bebebe;
    font-size: 20px;
    line-height: 20px; }
    .status-bar__condition:hover {
      border-bottom: 1px solid #989898; }
    .status-bar__condition:active {
      border-bottom: none; }
  .status-bar__line-wrap {
    position: relative;
    padding: 0;
    border: 0;
    width: 428px;
    height: 6px;
    border-radius: 3px;
    background-color: #dcdcdc; }
  .status-bar__line-color {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer; }
    .status-bar__line-color::before {
      display: block;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .status-bar__line-color:hover {
      -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
              box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25); }
    .status-bar__line-color:active {
      -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 2px solid #68b738; } }

@media (min-width: 1300px) {
  .status-bar__line-wrap {
    margin-left: 24px; } }

.target-list__item {
  margin-bottom: 25px; }

@media (min-width: 768px) {
  .target-list__item {
    margin-bottom: 32px; }
  .target-list__container {
    width: auto; } }

@media (min-width: 1300px) {
  .target-list__item {
    margin-bottom: 33px; } }

.training {
  position: relative;
  background-color: #f2f2f2; }

.training__title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-left: 72px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111; }

.training__logo {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center; }
  .training__logo--slim::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    z-index: 2; }
  .training__logo--pro::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -9px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    z-index: 2; }

.training__description {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 20px; }

.training__link {
  position: relative;
  color: #111111;
  font-size: 16px;
  text-transform: uppercase; }
  .training__link::before {
    content: "";
    width: 25px;
    height: 12px;
    position: absolute;
    top: 6px;
    right: -37px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat; }
  .training__link:hover::before {
    width: 34px;
    height: 14px;
    right: -46px;
    background-image: url("../img/icon-right-arrow-verylong.svg"); }
  .training__link:active {
    color: rgba(17, 17, 17, 0.3); }
    .training__link:active::before {
      opacity: 0.3; }

@media (min-width: 768px) {
  .training {
    padding-top: 75px;
    padding-right: 56px;
    padding-bottom: 60px;
    padding-left: 52px; }
  .training__logo {
    position: absolute;
    top: 92px;
    left: 446px;
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738; }
    .training__logo--slim::before {
      top: -12px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 141px;
      height: 194px; }
    .training__logo--pro::before {
      top: 50%;
      left: -33px;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 266px;
      height: 113px; }
  .training__title {
    font-size: 36px;
    line-height: 37px;
    margin-bottom: 26px;
    margin-top: 0;
    padding-left: 0; }
  .training__link {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 20px; }
    .training__link::before {
      top: 8px;
      right: -49px; }
    .training__link:hover::before {
      right: -58px; }
  .training__description {
    border: 0;
    padding: 0;
    margin-bottom: 56px;
    margin-right: 225px;
    font-size: 16px;
    line-height: 24px; }
    .training__description--mrbig {
      margin-right: 260px; } }

@media (min-width: 1300px) {
  .training {
    width: 570px;
    margin-bottom: 0;
    padding-top: 75px;
    padding-right: 56px;
    padding-bottom: 62px;
    padding-left: 52px; }
  .training__title {
    margin-left: 164px;
    margin-bottom: 75px; }
  .training__logo {
    left: 52px;
    top: 47px;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 100px;
    min-width: 100px;
    height: 100px; }
    .training__logo--slim::before {
      top: -6px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 71px;
      height: 97px; }
    .training__logo--pro::before {
      top: 50%;
      left: -18px;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 134px;
      height: 57px; }
  .training__link {
    margin-bottom: 0; }
  .training__description {
    margin: 0;
    margin-bottom: 31px; } }

.visually-hidden {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
